.contacts {
	background-color:  white;
	text-align: center;

	&__title {
		padding:   3*@padding-top-main 15% 2*@padding-bottom-main 15%;
		color: @h2-color;
		font-family:  @font-family-headings;
		font-size:  @font-size-h2;
		font-weight:  normal;
	}
	
	&-item {
	
		display:  inline-table;
		width:  310px;
		
		&__title {
			color: @h3-color;
			font-family:  @font-family;
			font-size:  @font-size-h3;
			padding-top: 2*@padding-top-main;
		}
		&__text {
			font-family:  @font-family;
			font-size:  @font-size-h2;
			color:  @red;
			padding: 0 @padding-right-main 0 @padding-left-main;
			font-weight:  normal;
		}
	}
}


@media(min-width:700px) and (max-width:1200px)  {

	.contacts {

		&__title {
			font-size:  1.8*@font-size-h1;
			padding:2*@padding-top-main 20% @padding-bottom-main 20%;
			text-align:  center;
			display:  block;
		}
			
		&-item {
				padding-bottom: 30px;
				
			&__title {
				font-family:  @font-family;
				font-size:  @font-size-h3+4px;
			}
		}
			
		
	}
		
}

@media(min-width:1200px)  {

	.contacts {

		&__title {
			font-size:  50px;
			padding:2*@padding-top-main 25% @padding-bottom-main 25%;
			text-align:  center;
			display:  block;
		}
			
		&-item {
				padding-top: 20px;
				padding-right:  70px;
				
			&:nth-child(2)    {
				float:left;
				width:  30%;
			}
			
			&:nth-child(3)  {
				float:right;
				width:  30%;
			}
				
			&__title {
				font-family:  @font-family;
				font-size:  18px;
				padding-bottom:  20px;
			}
			
			&__text {
			font-family:  @font-family;
			font-size:  24px;
			}
			
		}
			
		
	}

}



