.download {
	text-align:  center;
	
	&__title {
	
		background:  url(../img/mobile_in_hand.png) no-repeat 0% 100%;
		height:  340px;
		width:  250px;
		margin: 0 auto;
		text-align: center;
		padding-top: 2*@padding-top-main;
		padding-bottom:  2*@padding-bottom-main;
		color: @h1-color;
		font-family:  @font-family-headings;
		font-size:  @font-size-h1;
	}
	
	& p {	
		padding: 7*@padding-top-main @padding-right-main 3*@padding-bottom-main @padding-left-main;
		font-size:  @font-size;
		color:  lighten(@dark-grey,60%);
		font-family:  @font-family;
	}
	
	&__button {

		padding-top: 2*@padding-top-main;
		background-color:  @dark-blue-49;

			a {
				padding-top: @padding-top-main+2px;
				font-size:  @font-size-h2;
				text-decoration:  @not_underlined;
				color:  @link-color;
				background: url(../img/download_button.png) no-repeat 50% 0%;
				display:  block;
				width:  100%;
				height:  100px;
				font-family:  @font-family;
			}
	}
	
	&__phone-in-hand {
		margin:  0;
		width:256px;
		height:  285px;
	}
}
.download-devices {

	background: url(../img/logo_devices.png) 50% 0% no-repeat;
	background-color:  @dark-blue-49;
	display:  block;
	width:  100%;
}

@media(min-width:480px) and (max-width:1200px) {

	.download {
		background:  url(../img/mobile_in_hand2.png) no-repeat 100% 100%;
		background-size:  80%;
		max-width:  700px;
		height:  585px;
		margin:  0 auto;
		
			&__title {
				width:  37.4%;
				font-size:  40px;
				padding:60px 10% @padding-bottom-main 10%;
				margin:  0;
				text-align:  center;
				display:  block;
				background:  none;
				height:  150px;
			}
			
			& p {
				font-size:  106.25%;	
				text-align:center;
				padding-left: 10%;

			}
			
				&__button {
					background-color:  transparent;
					background-size:  50%;
					width:  59%;
					margin: 0 1%;
				}
	}
	
	.download-devices {
	
		background-color:  transparent;
		width:  100%;
		max-width:  58%;
		padding: 4*@padding-top-main 0 3*@padding-bottom-main 0;
		background: url(../img/logo_devices.png) 50% 20% no-repeat;
	
		}
	}

@media(min-width:1200px) {

	.download {
		background:  url(../img/iphone-hand-3@1x.png) no-repeat 100% 100%;	
		max-width:  1200px;
		height:  850px;
		margin: 0 auto;
		
			&__title {
				width:  20%;
				font-size:  2.14*@font-size-h1;
				padding:120px 12.5555555555% @padding-bottom-main 12%;
				margin:  0;
				text-align:  center;
				display:  block;
				background:  none;
				height:  150px;
			}
			
			& p {
				font-size:  106.25%;	
				text-align:center;
				padding-left: 5%;
				padding-right: 5%;

			}
			
				&__button {
					background-color:  transparent;
					width:  300px;
					margin: 70px 10.83% 0 10.83333333333%;
					display:  block;
				}
	}
	
	.download-devices {
	
		background-color:  transparent;
		width: 44.555555555555%;
		padding: 70px 0 3*@padding-bottom-main 0;
		background: url(../img/logo_devices.png) 50% 20% no-repeat;
		}
	}

