.main-pros {
	background:  url(../img/i_phone_main_options.gif) no-repeat 50% 100%;
	background-color:  @grey-f2;
	text-align: center;
	height:870px;

	&__title {
		padding-top: 3*@padding-top-main;
		padding-bottom:  3*@padding-bottom-main;
		color: @h2-color;
		background-color:  white;
		font-family:  @font-family-headings;
		font-size:  @font-size-h2;
		font-weight:  normal;
	}
	
	&-item__title {
		padding-top: 2*@padding-top-main;
		padding-bottom: 2*@padding-bottom-main;
		color: @h3-color;
		font-family:  @font-family;
		font-size:  @font-size-h3;
	}
	
	&-item__text {
		padding: 0 @padding-right-main 0 @padding-left-main;
		font-size:  @font-size;
		font-family:  @font-family;
		color:  @dark-grey;
		line-height:1.5;	
	}
}
.phone-smile {
	height:  280px;
	overflow:  hidden;
	margin-bottom:  0;
	margin-top: 3*@padding-top-main;
}
.slider-comment {
	background-color: white;
	text-align: center;
	padding-bottom: 2*@padding-bottom-main;

	&__title {
		color: @h3-color;
		font-family:  @font-family-headings;
		font-size:  @font-size-h3;
		padding-top: 4*@padding-top-main;
		padding-bottom: 2*@padding-bottom-main;
	}
	
	&__text {
		font-size:  @font-size;
		font-family:  @font-family;
		color:  @dark-grey;
		padding: 0 @padding-right-main 0 @padding-left-main;
		line-height:2;	
		
	}
}

.main-options {
	padding-top:  6*@padding-top-main;
	padding-bottom: @padding-bottom-main;
	background:  url(../img/table_background_main_options-3.jpg) no-repeat 0 6*@padding-top-main;
	text-align:left;
	background-color:  @grey-f2;
	
	&__list {
		padding-top: 10*@padding-top-main;
	}
	&__item {
		padding: 1.5*@padding-top-main 2*@padding-left-main;
		display:block;
		text-transform:  uppercase;
		color:  @dark-blue-69;
		background:  url(../img/table_no_main_options.jpg) no-repeat 85% 50%;
		background-color:  white;
		border-bottom: 2px solid @grey-e5;
		font-size:  @font-size;
		font-family:  @font-family;
	}
	&__item--chosen {
		background:  url(../img/table_yes_main_options.jpg) no-repeat 85% 50%;
		background-color:  white;
	}
}
.main-options-pagination, .slider-comment-pagination {
	padding-top:  3*@padding-top-main;
	padding-bottom: 3*@padding-bottom-main;
	height:  20px;
	text-align:  center;
	
	&__item {
		display:  inline-block;
		width:  20px;
		height:  20px;
		background: url(../img/slider_not_chosen.jpg) no-repeat 50% 50%;
	}
	
	&__item--active {
		background: url(../img/slider_chosen.png) no-repeat 50% 50%;
	}
}